html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* 全局颜色 */
:root {
    --primary-color: #42A5F5;
    --secondary-color: #FF5722;
    --background-color: #FAFAFA;
    --gray-color:#69696D;
    --dark-color:#69696D;
}